{% extends "base.html" %}

{% block content %}
    <h1>Add Family</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <h2>Family Code</h2>
        <p>
            {{ form.family_code.label }}<br>
            {{ form.family_code(size=32) }}<br>
            {% for error in form.family_code.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit(class_='btn btn-primary') }}</p>
    </form>
{% endblock %}
